@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #6290C8;
}

.secondary-color {
    background-color: #1F487E;
}

.secondary-bold-color {
    background-color: #142F52
}