@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
}

body {
    background-color: #6290C8;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.white-color {
    background-color: white;
}

.primary-color {
    background-color: #6290C8;
}

.secondary-color {
    background-color: #1F487E;
}

.secondary-bold-color {
    background-color: #142F52
}